@model SearchProductListViewModel

@{
    ViewBag.Title = "Products";
}

<div class="row">
    <div class="col-sm-6">
        <a class="btn btn-primary mb-3" asp-controller="Product" asp-action="Create">New</a>
    </div>
    <div class="col-sm-6">
        <form asp-controller="Product" asp-action="Search" method="get">
            <div class="mb-3 d-flex flex-row">
                <input asp-for="Query" type="text" class="form-control" placeholder="Search..." />
                <select asp-for="Category" asp-items="Model.Categories" class="form-control ms-2">
                    <option value="" selected>Choose category</option>
                </select>
                <input type="submit" class="btn btn-primary ms-2" />
            </div>
        </form>
    </div>
</div>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Count</th>
            <th scope="col">Category</th>
            <th scope="col">Inventory value</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price SEK</td>
                <td>@product.Count</td>
                <td>@product.Category</td>
                <td>@product.InventoryValue SEK</td>
                <td>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>