@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "Products";
}

<div class="row">
    <div class="col-sm-6">
        <a class="btn btn-primary mb-3" asp-controller="Product" asp-action="Create">New</a>
    </div>
    <div class="col-sm-6">
        <form asp-controller="Product" asp-action="Search" method="get">
            <div class="mb-3 d-flex flex-row">
                <input type="text" name="query" class="form-control" placeholder="Search..." />
                <input type="submit" class="btn btn-primary ms-2" />
            </div>
        </form>
    </div>
</div>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(p => p.Name)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.Price)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.Count)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.InventoryValue)</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Count</td>
                <td>@product.InventoryValue</td>
                <td>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>