@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "Products";
}

<button class="btn btn-primary mb-3">New</button>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(p => p.Name)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.Price)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.Count)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.InventoryValue)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Count</td>
                <td>@product.InventoryValue</td>
            </tr>
        }
    </tbody>
</table>